{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="row">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 ">
  	<div class="row">
	    <div class="col-xs-6 col-sm-12">
	      <div class="panel panel-default">
	        <div class="panel-body" id="options-panel">
	          <div>
	            <h4>Hotels</h4>
	            <select data-type="hotel" id="hotel-choices">
	            </select>
	            <button data-action="add" class="btn btn-primary btn-circle pull-right" id="add-hotel">+</button>
	          </div>
	          <div>
	            <h4>Restaurants</h4>
	            <select data-type="restaurant" id="restaurant-choices">
	            </select>
	            <button data-action="add" class="btn btn-primary btn-circle pull-right" id="add-restaurant">+</button>
	          </div>
	          <div>
	            <h4>Activities</h4>
	            <select data-type="activity" id="activity-choices">
	            </select>
	            <button data-action="add" class="btn btn-primary btn-circle pull-right" id="add-activity">+</button>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-xs-6 col-sm-12">
	      <h3>
	        <span id="day-title">
	          <span>Day </span>
	          <button class="btn btn-xs btn-danger remove btn-circle" id="deleted-day">x</button>
	        </span>
	      </h3>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <div class="day-buttons">
	            <button class="btn btn-circle day-btn" id="day-add">+</button>
	          </div>
	        </div>
	        <div class="panel-body" id="itinerary">
	          <div>
	            <h4>My Hotel</h4>
	            <ul class="list-group">
								<div class="itinerary-item" id="hotel-list">
	              </div>
	            </ul>
	          </div>
	          <div>
	            <h4>My Restaurants</h4>
	            <ul class="list-group">
	              <div class="itinerary-item" id="restaurant-list">
	              </div>
	            </ul>
	          </div>
	          <div>
	            <h4>My Activities</h4>
	            <ul class="list-group">
	              <div class="itinerary-item" id="activity-list">
	              </div>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>
    </div>
  </div>
</div>
<script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
	var activities = {{ activities | dump | safe }};
  var DayData = {};
  var MarkerObj = {};
	// add hotels to drop down
	hotels.forEach(function(hotel) {
		$('#hotel-choices').append('<option>'+hotel.name+'</option>')
	})

	// add restaurants to drop down
	restaurants.forEach(function(restaurant) {
		$('#restaurant-choices').append('<option>'+restaurant.name+'</option>')
	})

	// add activities to drop down
	activities.forEach(function(activity) {
		$('#activity-choices').append('<option>'+activity.name+'</option>')
	})

  //add a day
  var day = 0
  var currDay = 0
  $('#day-add').on('click', function(){
    day++
    $('<button class="btn btn-circle day-btn created-day" id='+day+'>'+day+'</button>').insertBefore($('#day-add'))
    //Todo: need to get rid of all the if stmt
    DayData[day] = {hotel: [], restaurant: [], activity: []}
    MarkerObj[day] = {hotel: [], restaurant: [], activity: []}
    console.log('currDay', currDay)
    if (currDay > 0) removeMarker(currDay)
	})

  //remove a day
  $('#day-title').on('click', '#deleted-day', function() {
    // remove the latest day button

    removeItinerary();

    // update DayData to shift the days
    DayData[currDay] = {hotel: [], restaurant: [], activity: []}

    console.log(DayData[currDay+1]);
    if (DayData[parseInt(currDay)+1]) {

      DayData[currDay] = DayData[parseInt(currDay)+1]
      delete DayData[parseInt(currDay)+1]
      console.log('DayData', DayData);
      console.log('DayData[currDay]', DayData[currDay]);
      setHotel(DayData[currDay].hotel)
      setRestaurant(DayData[currDay].restaurant)
      setActivity(DayData[currDay].activity)
    }

    // update MarkerObj to shift the days
    MarkerObj[currDay] = {hotel: [], restaurant: [], activity: []}
    if (MarkerObj[parseInt(currDay)+1]) {
      MarkerObj[currDay] = MarkerObj[parseInt(currDay)+1]
      delete MarkerObj[parseInt(currDay)+1]
    }

    $(document.getElementById(day)).remove();
    day--;
  })

  //remove marker
  function removeMarker(currDay) {
    for (var i = 0; i < MarkerObj[currDay].hotel.length; i++) {
      MarkerObj[currDay].hotel[i].setMap(null)
    }
    for (var i = 0; i < MarkerObj[currDay].restaurant.length; i++) {
      MarkerObj[currDay].restaurant[i].setMap(null)
    }
    for (var i = 0; i < MarkerObj[currDay].activity.length; i++) {
      MarkerObj[currDay].activity[i].setMap(null)
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 15,
      center: {lat: 40.7831, lng: -73.9712}
    });
  }
	// when click on a day button to load all data
	$('.day-buttons').on('click', '.created-day', function() {
		var selectedDay = $(this).attr('id')

    //change to the new clicked day
    currDay = selectedDay
    removeItinerary();

		if (DayData[selectedDay].hasOwnProperty('hotel')) setHotel(DayData[selectedDay].hotel);
		if (DayData[selectedDay].hasOwnProperty('restaurant')) setRestaurant(DayData[selectedDay].restaurant);
		if (DayData[selectedDay].hasOwnProperty('activity')) setActivity(DayData[selectedDay].activity);
    $('#day-title span').remove()
    $('#day-title #deleted-day').remove()
		$('#day-title').append('<span>Day ' + selectedDay + '</span><button class="btn btn-xs btn-danger remove btn-circle" id="deleted-day">x</button>')
	})

	// setHotel function
	function setHotel(hotel) {
    hotel.forEach(hotel => {
      $('#hotel-list').append('<div><span class="title" value="hotel">'+hotel+'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>');
      var hotelDetails = hotels.filter(obj => obj.name == hotel)
      var location = {lat: hotelDetails[0].place.location[0], lng: hotelDetails[0].place.location[1]}
      initMap(location, 'hotel')
    })
	}

	// set activities function
	function setActivity(activity) {
    activity.forEach(activity => {
      $('#activity-list').append('<div><span class="title" value="activity">'+activity+'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>');
      var activityDetails = activities.filter(obj => obj.name == activity)
      var location = {lat: activityDetails[0].place.location[0], lng: activityDetails[0].place.location[1]}
      initMap(location, 'activity')
    })
	}

	// set restaurant function
	function setRestaurant(restaurant) {
    restaurant.forEach(restaurant => {
      $('#restaurant-list').append('<div><span class="title" value="restaurant">'+restaurant+'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>');
      var restoDetails = restaurants.filter(obj => obj.name == restaurant)
      var location = {lat: restoDetails[0].place.location[0], lng: restoDetails[0].place.location[1]}
      initMap(location, 'restaurant')
    })
	}

	// remove full itinerary (to be used when switching days)
	function removeItinerary() {
		$('#itinerary .title').remove()
		$('#itinerary .remove').remove()
	}

	// add items to itinerary
	$('#add-hotel').click(function() {
    if ($('#hotel-list').children()) {
      $('#hotel-list').children().remove()
      MarkerObj[currDay].hotel = []
    }
		var hotel = $('#hotel-choices').find(':selected').text();
    $('#hotel-list').append('<div><span class="title" value="hotel">'+hotel+'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>');
    var hotelDetails = hotels.filter(obj => obj.name == hotel)
    var location = {lat: hotelDetails[0].place.location[0], lng: hotelDetails[0].place.location[1]}
    initMap(location, 'hotel')
		if (!DayData[currDay].hotel) {
      DayData[currDay].hotel = []
      DayData[currDay].hotel.push(hotel)
    } else {
      DayData[currDay].hotel.push(hotel)
    }
    // console.log('DayData', DayData[currDay])
	})

	$('#add-restaurant').click(function() {
		var restaurant = $('#restaurant-choices').find(':selected').text();
    if (!DayData[currDay].restaurant) {
      DayData[currDay].restaurant = []
      DayData[currDay].restaurant.push(restaurant)
    } else {
      DayData[currDay].restaurant.push(restaurant)
    }
    $('#restaurant-list').append('<div><span class="title" value="restaurant">'+restaurant+'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>');
    var restoDetails = restaurants.filter(obj => obj.name == restaurant)
    var location = {lat: restoDetails[0].place.location[0], lng: restoDetails[0].place.location[1]}
    initMap(location, 'restaurant')
	})

	$('#add-activity').click(function() {
		var activity = $('#activity-choices').find(':selected').text();
    if (!DayData[currDay].activity) {
      DayData[currDay].activity = []
      DayData[currDay].activity.push(activity)
    } else {
      DayData[currDay].activity.push(activity)
    }

    $('#activity-list').append('<div><span class="title" value="activity">'+activity+'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>');
    var activityDetails = activities.filter(obj => obj.name == activity)
    var location = {lat: activityDetails[0].place.location[0], lng: activityDetails[0].place.location[1]}
    initMap(location, 'activity')
	})

  //remove an item from itinerary
  $('#itinerary').on('click', '.remove', function () {
		let itemName = $(this).siblings().html();
		// console.log('siblings',$(this).siblings());
		let itemType = $(this).siblings().attr('value');
    console.log('siblings inside remove', $(this).siblings());
    //if we don't have a div, this removes all siblings
    $(this).siblings().remove()
		$(this).remove()
		// console.log('itemtype is', itemType);

		DayData[currDay][itemType] = DayData[currDay][itemType].filter(function(name) {
      console.log('name', name, 'itemName', itemName)
			return name != itemName;
		})
    console.log('daydata item', DayData[currDay][itemType]);
	});


  function initMap(location, itemType) {
    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 15,
      center: {lat: location.lat, lng: location.lng}
    });

    var goldStar = {
      path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
      fillColor: 'yellow',
      fillOpacity: 0.8,
      scale: 0.1,
      strokeColor: 'gold',
      strokeWeight: 5
    };

    var marker = new google.maps.Marker({
     position: map.getCenter(),
     icon: goldStar,
     map: map
    });

    //store arrays of markers
    // console.log('itemType')
    MarkerObj[currDay][itemType].push(marker)

    for (var i = 0; i < MarkerObj[currDay].hotel.length; i++) {
      MarkerObj[currDay].hotel[i].setMap(map)
    }
    for (var i = 0; i < MarkerObj[currDay].restaurant.length; i++) {
      MarkerObj[currDay].restaurant[i].setMap(map)
    }
    for (var i = 0; i < MarkerObj[currDay].activity.length; i++) {
      MarkerObj[currDay].activity[i].setMap(map)
    }
    console.log('marker', marker)
  }

</script>

{% endblock %}
